mixin toEuro(amount)
  =Number(amount).toFixed(2) + ' €'

style(type="text/css") !{compiledStyle}

if document.type === 'quotation'
  h1 Devis
else if document.type === 'invoice'
  h1 Facture
else if document.type === 'credit'
  h1 Avoir

section.header
  .profile
    if profile.tradeName
      h2 #{profile.tradeName}
      div #{profile.firstName} #{profile.lastName}
    else
      h2 #{profile.firstName} #{profile.lastName}
    div #{profile.address}
    div #{profile.zip} #{profile.city}, France

  .client
    div
      if document.type === 'quotation'
        h3 Devis à l'attention de :
      else if document.type === 'invoice'
        h3 Facturé à :
      else if document.type === 'credit'
        h3 Avoir à l'attention de :

      if client.siret
        div #{client.name} (#{client.siret})
      else
        div #{client.name}
      div #{client.address}
      div #{client.zip} #{client.city}, #{client.country}

table.items
  thead.items-head
    tr
      th Description
      th Quantité
      th Prix unitaire
      th Total

  tbody.items-body
    each item in document.items
      tr
        td(width='40%') #{item.designation}
        td(width='10%') #{item.quantity}
        td(width='25%')
          +toEuro(item.unitPrice)
        td(width='25%')
          +toEuro(item.amount)

table.items.items-foot
  tr
    td(width='40%') Total HT
    td(colspan=3)
      +toEuro(document.totalHT)

  tr
    td(width='40%') Total TVA (#{document.taxRate}%)
    td(colspan=3)
      +toEuro(document.totalTVA)

  tr
    td(width='40%') Total TTC
    td(colspan=3)
      +toEuro(document.totalTTC)

if document.conditions
  .conditions
    if document.type === 'quotation'
      div Devis n°#{document.number}
      div Durée de validité : #{document.expiresIn} jours
    else if document.type === 'invoice'
      div Facture n°#{document.number}
    else if document.type === 'credit'
      div Avoir n°#{document.number}
      div Facture de référence n°#{document.invoiceNumber}
    div Date d'émission : #{document.createdAt}

    each condition in document.conditions.split('\n')
      div #{condition}

footer.footer
  .bank
    table
      tbody
        if profile.rib || profile.iban || profile.bic
          tr
            td(colspan=2) 
              strong Coordonnées bancaires
          
          if profile.rib
            tr
              td
                strong RIB N°
              td #{profile.rib}

          if profile.iban
            tr
              td
                strong IBAN N°
              td #{profile.iban}

          if profile.bic
            tr
              td
                strong Code BIC
              td #{profile.bic}

  .contact
    div
      div
        | Micro-entreprise :
        |
        if profile.tradeName
          span #{profile.tradeName} (#{profile.firstName} #{profile.lastName})
        else
          span #{profile.firstName} #{profile.lastName}
      div
        | #{profile.address},
        | #{profile.zip} #{profile.city},
        | France
      div
        | #{profile.email}
        | —
        | #{profile.phone}
      div
        | SIRET : #{profile.siret}
        | —
        | Code APE : #{profile.apeCode}
      div
        | N° TVA Intracommunautaire : #{profile.taxId}
      .credit
        | Généré par factae.fr
